{
    transition: all 2s linear;
}

body{
    background-image: url("fond.jpg");
    background-size: cover;
    font-family: 'Game', Arial, serif;
    font-size: 2em;
}

h1{
    font-family: 'Simpson', Arial, serif;
    margin-top: 20px;
    font-size: 5rem;
}

img{
    width: 150px;
}

#story{
    text-align: center;
}

/**********Animation*****************/
/*#story p {*/
    /*text-align: center;*/
    /*overflow: hidden; !* Ensures the content is not revealed until the animation *!*/
    /*border-right: .15em solid orange; !* The typwriter cursor *!*/
    /*white-space: nowrap; !* Keeps the content on a single line *!*/
    /*margin: 0 auto; !* Gives that scrolling effect as the typing happens *!*/
    /*letter-spacing: .15em; !* Adjust as needed *!*/
    /*animation:*/
            /*typing 3.5s steps(40, end),*/
            /*blink-caret .75s step-end infinite;*/
/*}*/

/*!* The typing effect *!*/
/*@keyframes typing {*/
    /*from { width: 0 }*/
    /*to { width: 100% }*/
/*}*/

/*!* The typewriter cursor effect *!*/
/*@keyframes blink-caret {*/
    /*from, to { border-color: transparent }*/
    /*50% { border-color: orange; }*/
/*}*/

/****************************************************************/



#thebeggining{
    display: none;
}

#milieu{
    display: none;
}

#mesboutons{
    flex-wrap: wrap;
}

#myherostats{
    display : none;
    width: 15%;
    font-size: 1em;
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 40px;
}

#ennemistats{
    display: none;
    width: 15%;
    font-size: 1em;
    border-left: 1px solid black;
    padding-right: 10px;
    padding-left: 20px;
}

#mystorypanel{
    width: 70%;
}

.button {
    /*flex: 1 1 auto;*/
    background-color: rgb(254,212,32);
    width: 205px;
    margin: 10px;
    padding: 20px;
    border: 2px solid black;
    color: black;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.button:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: black;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.08);
    box-shadow: -1px 0 25px 0 rgba(0,0,0,0.48);
    -webkit-box-shadow: -1px 0 25px 0 rgba(0,0,0,0.48);
    -moz-box-shadow: -1px 0 25px 0 rgba(0,0,0,0.48);
}
.button:hover:after {
    width: 0;
    left: 0;
}

@font-face {
    font-family: 'Simpson';
    src: url("Simpsonfont.otf");
}

@font-face {
    font-family: 'Game';
    src: url("HalfEighties.ttf");
}

.content {
    /*background-color: #FED420;*/
    text-align: center;
    width: 800px;
    /*top: 40%;*/
    height: 200px;
    position: relative;
    overflow: hidden;
    /*transform: translateY(+300);*/
}

.cover{
    position: absolute;
    width: 100%;
    left: 0;
    height: 33%;
    background: linear-gradient(to right, #17A589, #2ECC71);
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 10px;
}

.first{
    top: 0;
}

.second{
    top: 33%;
}

.third{
    top: 66%;
}

/*CSS qui sert à l'animation du bouton commencer*/

.show{
    display: block!important;
    opacity:0;
}

.animated{
    animation: appear 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*********CSS pour le canvas de fin**********/
main{
    z-index: 5;
}

.fireworks{
    z-index: -3;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
